<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*]BallisticsCalculator.Infrastructure.Migrations.*,[*]Program</Exclude>
          <ExcludeByFile>**/Migrations/**</ExcludeByFile>
          <Threshold>80</Threshold>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
